/* here you can put your own css to customize and override the theme */
img.logo-default {
    width: 235px;
    height: 45px;
}
.page-header.navbar .page-logo{
    padding-left: 0px;
    padding-right: 10px;
    width: 275px;
}
.page-header.navbar .page-logo .logo-default {
    margin: 0px 0 0;
}
.page-header.navbar {
    background-color: #2b73ba;
    border-bottom: #2b73ba solid 0px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i{
    color:#fff;
    font-weight: 400;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #fff;
}
.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar{
    background-color: #3d3c3c;
}
.page-sidebar .page-sidebar-menu>li>a {
    border-top: 1px solid #fff;
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar .page-sidebar-menu .sub-menu>li>a>i {
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], .page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-]{
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li.open>a i, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a i, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a i, .page-sidebar .page-sidebar-menu>li:hover>a i{
    color:#3d3c3c;
}
.btn.green:not(.btn-outline),.btn.green:not(.btn-outline):hover {
    color: #FFF;
    background-color: #2b73ba;
    border-color: #2b73ba;
}
.btn.blue-stripe {
    border-left: 0px solid #3598dc!important;
}
.page-sidebar.collapse {
    display: block;
    max-height: 100% !important;
}
.page-footer{
    background-color: #fff;
}
body {
    background-color: #3d3c3c;
}
.dropdown-menu{
    position: inherit;
}
.border-top-green {
    border-top-color: #32c5d2!important;
}
.pricing-content-1 .price-table-head h2 {
    font-size: 18px;
    font-weight: 600;
}
.bg-blue{
    background-color: #2b73ba;
}
.bg-green, .bg-hover-green:hover {
    background: #42791f!important;
}
.border-top-green {
    border-top-color: #42791f!important;
}
.row.mobile-padding {
    margin: 0;
}
.pricing-content-1 .price-table-content{
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 5px;
    background: #d7d7d7;
}
  
::-webkit-scrollbar-thumb {
background: #2b73ba;
border-radius: 5px;
}
.actions .btn-icon-only {
    display: none;
}